<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lasses super cool LN2 monitor</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0"></script>

</head>
<body>
<div style="max-width: 70%; margin: auto">
    <h2>Ln2 level and temperature</h2>
    <canvas id="myChart" width="40" height="10"></canvas>
</div>
<div style="max-width: 70%; margin: auto">
    <h2>Lastest errors</h2>
    <table>
        <tr>
            <th>date</th>
            <th>data</th>
        </tr>
        {% for item in error_log %}
        <tr>
            {% for si in item %}
            <td style="padding: 5px"> {{ si }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h2>Raw log output</h2>
    <table>
        <tr>
            <th>date</th>
            <th>data</th>
        </tr>
        {% for item in log %}
        <tr>
            {% for si in item %}
            <td style="padding: 5px"> {{ si }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>
<script>
    const data = {
        datasets: [
            {
                label: "LN2 level in cryoplus2",
                backgroundColor: 'rgba(0, 255, 0, 0.75)',
                borderColor: 'rgba(50, 255, 50, 0.25)',
                data: {{ ll|safe }},
                yAxisID: 'y1'
            },
            {
                label: "Temperature",
                backgroundColor: 'rgba(255, 0, 0, 0.75)',
                borderColor: 'rgba(255, 50, 50, 0.25)',
                data: {{ tt|safe }},
                yAxisID: 'y2'
            },
        ]
    };
    const config = {
        type: 'line',
        data,
        options: {
            scales: {
                y1: {
                    position: 'right',
                    ticks: {
                        color: 'rgb(0, 150,0)',
                    },
                    grid: {
                        drawOnChartArea: false,
                    }
                },
                y2: {
                    ticks: {
                        color: 'rgb(150, 0,0)',
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'time'
                    },
                    type: 'time',
                    time: {
                        unit: 'hour',
                        displayFormats: {
                            hour: 'T EEE d MMM'
                        }
                    },
                    ticks: {
                        major: {
                            enabled: true
                        }
                    }
                }
            },
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        temp_threshold: {
                            type: 'line',
                            yScaleID: 'y2',
                            yMin: -120,
                            yMax: -120,
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2,
                            borderDash: [10],
                            label: {
                                backgroundColor: 'rgba(200,0,0,1)',
                                color: '#fff',
                                position: 'start',
                                yAdjust: -20,
                                content: 'Temperature alarm threshold',
                                enabled: true
                              },
                        }
                    }
                }
            }
        }
    };
    let myChart = new Chart('myChart', config);
</script>
</body>
</html>
