<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lasses super cool LN2 monitor</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0"></script>

</head>
<body>
<div style="display: flex">
    <img src="cryoplus2.jpg" style="max-height: 320px; width: auto;">
    <div style="max-width: 70%; margin: auto">
        <h2>Ln2 level and temperature in CryoPlus2</h2>
        <canvas id="cp2_Chart" width="40" height="10"></canvas>
    </div>
</div>
<div style="display: flex">
    <img src="v3000ab.jpg" style="max-height: 320px; width: auto;">
    <div style="max-width: 70%; margin: auto">
        <h2>Ln2 level and temperature in CBS3000-ab</h2>
        <canvas id="cbs_Chart" width="40" height="10"></canvas>
    </div>
</div>

<div style="display: flex">
    <div>
        <div style="max-width: 70%; margin: auto">
            <h2>Latest errors on CryoPlus2</h2>
            <table>
                <tr>
                    <th>date</th>
                    <th>data</th>
                </tr>
                {% for item in cp2_error_log %}
                <tr>
                    {% for si in item %}
                    <td style="padding: 5px"> {{ si }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h2>Raw log output on  CryoPlus2</h2>
            <table>
                <tr>
                    <th>date</th>
                    <th>data</th>
                </tr>
                {% for item in cp2_log %}
                <tr>
                    {% for si in item %}
                    <td style="padding: 5px"> {{ si }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div>
        <div style="max-width: 70%; margin: auto">
            <h2>Latest errors cbs3000</h2>
            <table>
                <tr>
                    <th>date</th>
                    <th>data</th>
                </tr>
                {% for item in cbs_error_log %}
                <tr>
                    {% for si in item %}
                    <td style="padding: 5px"> {{ si }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h2>Raw log output cbs3000</h2>
            <table>
                <tr>
                    <th>date</th>
                    <th>data</th>
                </tr>
                {% for item in cbs_log %}
                <tr>
                    {% for si in item %}
                    <td style="padding: 5px"> {{ si }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    const cp2_data = {
        datasets: [
            {
                label: "LN2 level in cryoplus2",
                backgroundColor: 'rgba(0, 255, 0, 0.75)',
                borderColor: 'rgba(50, 255, 50, 0.25)',
                data: {{ cp2_ll|safe }},
                yAxisID: 'y1'
            },
            {
                label: "Temperature",
                backgroundColor: 'rgba(255, 0, 0, 0.75)',
                borderColor: 'rgba(255, 50, 50, 0.25)',
                data: {{ cp2_tt|safe }},
                yAxisID: 'y2'
            },
        ]
    };
    const cp2_config = {
        type: 'line',
        cp2_data,
        options: {
            scales: {
                y1: {
                    position: 'right',
                    ticks: {
                        color: 'rgb(0, 150,0)',
                    },
                    grid: {
                        drawOnChartArea: false,
                    }
                },
                y2: {
                    ticks: {
                        color: 'rgb(150, 0,0)',
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'time'
                    },
                    type: 'time',
                    time: {
                        unit: 'hour',
                        displayFormats: {
                            hour: 'T EEE d MMM'
                        }
                    },
                    ticks: {
                        major: {
                            enabled: true
                        }
                    }
                }
            },
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        temp_threshold: {
                            type: 'line',
                            yScaleID: 'y2',
                            yMin: -120,
                            yMax: -120,
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2,
                            borderDash: [10],
                            label: {
                                backgroundColor: 'rgba(200,0,0,1)',
                                color: '#fff',
                                position: 'start',
                                yAdjust: -20,
                                content: 'Temperature alarm threshold',
                                enabled: true
                              },
                        }
                    }
                }
            }
        }
    };
    let cp2_Chart = new Chart('cp2_Chart', cp2_config);

    // copy for cbs v3000

    const cbs_data = {
        datasets: [
            {
                label: "LN2 level in cbs v3000",
                backgroundColor: 'rgba(0, 255, 0, 0.75)',
                borderColor: 'rgba(50, 255, 50, 0.25)',
                data: {{ cbs_ll|safe }},
                yAxisID: 'y1'
            },
            {
                label: "Temperature",
                backgroundColor: 'rgba(255, 0, 0, 0.75)',
                borderColor: 'rgba(255, 50, 50, 0.25)',
                data: {{ cbs_tt|safe }},
                yAxisID: 'y2'
            },
        ]
    };
    const cbs_config = {
        type: 'line',
        cbs_data,
        options: {
            scales: {
                y1: {
                    position: 'right',
                    ticks: {
                        color: 'rgb(0, 150,0)',
                    },
                    grid: {
                        drawOnChartArea: false,
                    }
                },
                y2: {
                    ticks: {
                        color: 'rgb(150, 0,0)',
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'time'
                    },
                    type: 'time',
                    time: {
                        unit: 'hour',
                        displayFormats: {
                            hour: 'T EEE d MMM'
                        }
                    },
                    ticks: {
                        major: {
                            enabled: true
                        }
                    }
                }
            },
            plugins: {
                autocolors: false,
                annotation: {
                    annotations: {
                        temp_threshold: {
                            type: 'line',
                            yScaleID: 'y2',
                            yMin: -120,
                            yMax: -120,
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2,
                            borderDash: [10],
                            label: {
                                backgroundColor: 'rgba(200,0,0,1)',
                                color: '#fff',
                                position: 'start',
                                yAdjust: -20,
                                content: 'Temperature alarm threshold',
                                enabled: true
                              },
                        }
                    }
                }
            }
        }
    };
    let cbs_Chart = new Chart('cbs_Chart', cbs_config);
</script>
</body>
</html>
